/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

/* Styles */
:root {
	--main-bg: #b4c5e4;
}

body {
	min-height: 100vh;
	text-align: center;
	font-family: system-ui, sans-serif;
	background-color: var(--main-bg);
}

.header {
	padding: 16px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	position: relative;
	z-index: 10;
}

.main {
	padding: 24px;
}

.main__title {
	font-size: 1.875rem;
	min-height: 45px;
}

.board {
	width: 500px;
	height: 500px;
	border: solid black;
	margin: 32px auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.board__square {
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 6rem;
}

.dialog {
	margin: auto;
	max-width: 350px;
	border: none;
	border-radius: 24px;
	padding: 30px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.7);
}

.form {
	display: grid;
	gap: 16px;
	margin-top: 20px;
	justify-items: center;
}

.form__label {
	font-size: 1.25rem;
	font-weight: 500;
}

.form__input {
	border: none;
	border-radius: 8px;
	padding: 4px 12px;
	font-size: 1rem;
	background-color: lightgray;
}

.form__button {
	font-size: 1.25rem;
	font-weight: 600;
}

.button {
	background-color: skyblue;
	border: none;
	padding: 8px 30px;
	border-radius: 9999px;
}

.button:hover {
	background-color: hsl(197.4deg 71.43% 74.55%);
}

.button:active {
	background-color: hsl(197.4deg 71.43% 65.55%);
}
