/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

/* Styles */
:root {
	--main-bg: #fbfff1;
}

body {
	min-height: 100vh;
	text-align: center;
	font-family: system-ui, sans-serif;
}

.header {
	padding: 16px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.main {
	padding: 24px;
}

.main__title {
	font-size: 1.875rem;
}

.board {
	width: 500px;
	height: 500px;
	border: solid black;
	margin: 32px auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.board__square {
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 6rem;
}
